.post h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

  @media (max-width: 768px) {
    .post h2 {
        font-size: 18px; 
    }
}

.post p {
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {
    .post p {
        font-size: 12px; 
    }
}